{% extends 'base.html' %}
{% load static %}
{% block content %}
<style>
  html {
    height: 100%;
    margin: 0;
    overflow: hidden;
  }

  body {
    position: relative;
    height: 100%;
    background: url("{% static 'images/vju.jpg' %}") no-repeat center center fixed;
    background-size: 25%;
  }
</style>
<body>
  <div class="container mt-5">
    <div class="row">
      <div class="col-md-12">
        <br />
        <br />
        <h1 class="text-center">LIBRARY MANAGEMENT SYSTEM</h1>
        <br />
        <br />
        <br />
        <br />
        <br />
      </div>
    </div>


    <br />
    <br />
    <br />
  </div>
</body>
{% endblock %}
